{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "env": {
    "test": {
      "plugins": [[
        "@quickbaseoss/babel-plugin-styled-components-css-namespace",
        {"cssNamespace": ".hostServiceSpecific"}
      ],
      "babel-plugin-styled-components"]
    }
  }
}




